  <section id="tentang" class="projects-section">
    <div class="container">
      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">


        <div class="col-md-10 offset-md-1">
          <div class="featured-text text-left text-lg-left">
            <h4 class="text-center text-lg-left">Pendahuluan Ibrani Kuno</h4>
            <div id="intro-home">
            <p>Jika Anda diberi pilihan, antara makan di restoran cepat saji atau makan di salah satu restoran bintang
              5, mana yang akan Anda pilih? Kedua restoran menyediakan makanan, tetapi saya pikir kebanyakan orang akan
              memilih restoran bintang 5 karena menyediakan makanan yang lebih baik dan suasana yang lebih baik daripada
              restoran cepat saji. Analogi yang sama ini dapat digunakan untuk Alkitab Ibrani. Membaca terjemahan
              Alkitab dalam bahasa Inggris (atau dalam bahasa Indonesia) seperti makan di restoran cepat saji; Anda
              mungkin masih diberi makan, tetapi tidak memiliki dampak yang sama dengan teks Ibrani. Bahkan jika
              seseorang tidak tahu bahasa Ibrani, banyak yang bisa dipelajari dengan memahami konsep-konsep Ibrani.</p>

            <p><img src="assets/img/introduction_el.jpg" class="rounded float-left"
                alt="Ancient Pictograph Hebrew Word el meaning God">Prasasti berusia 4.000 tahun ini ditemukan di tanah
              Israel dan terdiri dari dua huruf yang ditulis dalam aksara Ibrani piktografik kuno. Huruf di bagian atas
              prasasti adalah aleph dan merupakan gambar kepala lembu yang mewakili kekuatan. Di bawahnya adalah huruf
              lamed dan merupakan gambar alat gembala yang mewakili otoritas. Ketika pictograf ini digabungkan, kata
              "el" terbentuk yang berarti "yang kuat dan berotoritas."</p>

            <p>Alkitab Ibrani (disebut Tenack oleh orang Yahudi dan Perjanjian Lama oleh orang Kristen) pada awalnya
              ditulis dalam skrip Ibrani piktografik ini (dan juga bentuk modifikasi yang biasanya disebut sebagai
              Paleo-Ibrani) oleh orang Ibrani yang bahasa dan budayanya sangat berbeda dari kita sendiri. Karena itu,
              melalui studi alfabet, bahasa, dan budaya Ibrani kuno, kita dapat lebih memahami teks-teks Alkitab.</p>
            </div>
            <a href="/pendahuluan-ibrani-kuno" class="btn-primary py-2 px-3 rounded">Selengkapnya »</a>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="artikel" class="projects-section bg-light">
    <div class="container">
      <div class="menut">
        <h2>Artikel</h2>
      </div>
      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="assets/img/alephbet_evolution_1.gif" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Alfabet</h4>
                <p class="mb-0 text-white-50">Bahasa Ibrani Kuno ditulis dengan 22 huruf, masing-masing ditulis dengan
                  gambar, seperti sapi, tenda, kaki atau pintu. Huruf piktografik ini lebih dari sekadar
                  pengidentifikasi suara, tetapi juga memiliki arti.</p>
                <hr class="d-none d-lg-block mb-0 ml-0"><br>
                 <a href="/alfabet-kuno/aleph" class="btn-primary py-2 px-3 rounded">Mulai »</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid w-100" src="assets/img/landing_nomads.png" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Bahasa dan Budaya</h4>
                <p class="mb-0 text-white-50">Bahasa Ibrani, seperti halnya dengan setiap bahasa, terkait erat dengan
                  budaya yang dimiliki oleh penutur dan penulis. Saat membaca Alkitab, baik dalam bahasa Ibrani, Inggris
                  atau bahasa lain, penting untuk dibaca melalui mata dan pikiran budaya Ibrani dan bukan budaya
                  sendiri. </p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>